{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 class="text-center mb-6" %}
        {% trans "Sign Up" %}
    {% endelement %}
    {% setvar link %}
        <a href="{% url 'account_login' %}" class="text-blue-500 hover:underline">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p class="text-start px-4 mb-6" %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
                <input type="hidden" name="next" value="{% url 'profile-onboarding' %}">
            {% endslot %}
            {% slot actions %}
                {% element button tags="prominent,signup" type="submit" %}
                    {% trans "Sign Up" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}

<style>
    form p label {
        width: 10rem;
    }
    p {
        justify-content: start;
        gap: 0;
    }
    /*menu, ol, ul, li{
        display: none;
    }*/
</style>
{% endblock content %}