<!-- @format -->

{% extends 'layouts/b_new.html' %} {% block content %}
<div id="profile" class="flex flex-col items-center">
  <div class="mt-12 w-full md:w-[36rem] lg:w-[50rem]">
    <div class="card p-6">
      <div class="text-center flex flex-col items-center">
        <img
          class="w-36 h-36 rounded-full object-cover mb-4"
          src="{{ profile.avatar }}" />
        <div class="text-center max-w-md">
          <h1>{{ profile.name }}</h1>
          <div class="text-gray-400 mb-2 -mt-3">
            @{{ profile.user.username }}
          </div>
          <div class="flex items-center justify-center mx-auto">
            <img
              class="object-cover h-6 mr-1 opacity-60"
              src="https://img.icons8.com/material-outlined/50/000000/school.png" />
            &nbsp;โรงเรียน{% if profile.school %}{{ profile.school }}
            {% else %}ในสังกัดสพม.ปทุมธานี{% endif %}
          </div>
          <div class="my-8">
            {% if profile.bio %}
            {{ profile.bio }}
            {% else %}
            ไม่มีรายละเอียด
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab-contents" class="w-full flex flex-col items-center">
    <div class="mb-20 "id="content-list">
      {% include 'partials/userprofile_content_list.html' %}
    </div>
  </div>
</div>
{% endblock%}
