<div id="tabs" class="flex justify-center items-center mt-7 ml-4 gap-3 mb-7">
  <a href="{% url 'content-query' content_type=content_type %}?{{ request.GET.urlencode|safe }}&sort=popular" 
     hx-get="{% url 'content-query' content_type=content_type %}?{{ request.GET.urlencode|safe }}&sort=popular" 
     hx-target="#content-list" 
     hx-swap="innerHTML" 
     class="tab {% if sort_order == 'popular' %}selected{% endif %}">เนื้อหายอดนิยม</a>
  <a href="{% url 'content-query' content_type=content_type %}?{{ request.GET.urlencode|safe }}&sort=latest" 
     hx-get="{% url 'content-query' content_type=content_type %}?{{ request.GET.urlencode|safe }}&sort=latest" 
     hx-target="#content-list" 
     hx-swap="innerHTML" 
     class="tab {% if sort_order == 'latest' %}selected{% endif %}">เนื้อหาล่าสุด</a>
</div>

<div class="grid grid-cols-3 max-w-7xl mx-auto my-6 px-24 gap-x-8" id='content-list'>
  {% for content in contents %}
    {% include 'a_contents/content_card_big.html' %}
  {% endfor%}
</div>

<div class="pagination flex justify-center mt-6">
  <div class="flex space-x-2 items-center">
      {% if contents.has_previous %}
          <a href="#" 
             hx-get="{% url 'home' %}?sort={{ sort_order }}&page={{ contents.previous_page_number }}" 
             hx-target="#content-list" 
             hx-swap="innerHTML"
             class="px-3 py-1 bg-gray-200 hover:bg-gray-300 text-gray-700 rounded-lg">Previous</a>
      {% endif %}

      {% for num in contents.paginator.page_range %}
          {% if num > contents.number|add:'-3' and num < contents.number|add:'3' %}
              <a href="#" 
                 hx-get="{% url 'home' %}?sort={{ sort_order }}&page={{ num }}" 
                 hx-target="#content-list" 
                 hx-swap="innerHTML"
                 class="px-3 py-1 {% if num == contents.number %} bg-gray-300 text-black {% else %} bg-gray-200 hover:bg-gray-300 text-gray-700 {% endif %} rounded-lg">
                  {{ num }}
              </a>
          {% endif %}
      {% endfor %}
      
      {% if contents.paginator.num_pages > contents.number|add:'3' %}
          <span class="px-3 py-1">...</span>
          <a href="#" 
             hx-get="{% url 'home' %}?sort={{ sort_order }}&page={{ contents.paginator.num_pages }}" 
             hx-target="#content-list" 
             hx-swap="innerHTML"
             class="px-3 py-1 bg-gray-200 hover:bg-gray-300 text-gray-700 rounded-lg">{{ contents.paginator.num_pages }}</a>
      {% endif %}

      {% if contents.has_next %}
          <a href="#" 
             hx-get="{% url 'home' %}?sort={{ sort_order }}&page={{ contents.next_page_number }}" 
             hx-target="#content-list" 
             hx-swap="innerHTML"
             class="px-3 py-1 bg-gray-200 hover:bg-gray-300 text-gray-700 rounded-lg">Next</a>
      {% endif %}
  </div>
</div>