<!-- @format -->

{% extends "base.html" %} {% block layout %}
<content class="block max-w-3xl mx-auto my-12 px-6">
  <div class="grid justify-items-start card p-8 !pb-10">{% block content %} {% endblock %}</div>
</content>

{% endblock %}
