/* input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}
:root {
  --primary: rgb(88, 40, 244);
  --primary-hover: rgb(69, 29, 200);
  --black: #1f2937;
  --font1: "Lobster", sans-serif;
}
.pridi-extralight {
  font-family: "Pridi", serif;
  font-weight: 200;
  font-style: normal;
}

.pridi-light {
  font-family: "Pridi", serif;
  font-weight: 300;
  font-style: normal;
}

.pridi-regular {
  font-family: "Pridi", serif;
  font-weight: 400;
  font-style: normal;
}

.pridi-medium {
  font-family: "Pridi", serif;
  font-weight: 500;
  font-style: normal;
}

.pridi-semibold {
  font-family: "Pridi", serif;
  font-weight: 600;
  font-style: normal;
}

.pridi-bold {
  font-family: "Pridi", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Pridi", serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  @apply text-4xl font-bold mb-4;
  color: black;
}
h2 {
  @apply text-2xl font-bold mb-3;
}
h3 {
  @apply text-lg font-bold;
}
.font1 {
  font-family: var(--font1);
}
.button,
button,
[type="submit"],
[type="button"] {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0 1rem;
  min-height: 3.3rem;
  font-weight: 600;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  transition-property: transform;
  transition-duration: 0.2s;
  color: white;
  background-color: var(--primary);
  width: fit-content;
}
.button:hover,
button:hover,
[type="submit"]:hover,
[type="button"]:hover {
  background-color: var(--primary-hover);
}
.button:active,
button:active,
[type="submit"]:active,
[type="button"]:active {
  transform: scale(0.95);
}
.secondaryAction {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.secondaryAction:hover,
.button.secondaryAction:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.navitems > li > a {
  @apply flex items-center gap-2 h-12 px-4 hover:bg-gray-700 rounded-lg;
}
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  background-color: white;
  padding-bottom: 1rem;
  width: 100%;
}
.hoverlist > * {
  @apply hover:bg-gray-100 rounded-md transition duration-150;
}
.hoverlist > * > a {
  @apply flex items-center p-2;
}
.highlight {
  @apply !bg-indigo-100;
}
.titleBlip {
  animation: 1s fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html,
body {
  margin: 0;
  min-height: 100%;
}
p {
  margin-bottom: 1rem;
}
form p {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
label,
input {
  display: inline-block;
}
form p label {
  width: 7rem;
}
label {
  margin: 6px 0 3px;
}
input,
textarea {
  width: 100%;
}
input[type="file"],
select {
  background-color: white;
  padding-left: 0;
}
label[for="id_remember"] {
  width: auto;
  margin-right: 0.5rem;
}
input[name="remember"] {
  width: auto;
}
.btn-red {
  @apply inline-flex bg-red-500;
}
.btn-red:hover {
  @apply bg-red-600;
}
.login .secondaryAction {
  box-shadow: none;
  display: block;
  padding: none;
  padding: 0px;
  border: none;
  font-size: smaller;
  font-weight: normal;
  min-height: auto;
  margin-bottom: 1.5rem;
}
.login .secondaryAction:hover {
  @apply text-gray-500 underline bg-white;
}
#id_grades,
#id_learning_areas {
  margin-bottom: 1rem;
}
#id_grades div,
#id_learning_areas div {
  display: inline-block;
  margin-right: 0.5rem;
}
#id_grades div label,
#id_learning_areas div label {
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(229 231 235);
  width: auto;
  cursor: pointer;
  user-select: none;
}
#id_grades input,
#id_learning_areas input {
  display: none;
}
#id_grades label:has(input:checked),
#id_learning_areas label:has(input:checked) {
  background-color: var(--black);
  color: white;
  border: 1px solid var(--black);
}
.textarea,
textarea {
  margin-bottom: 1rem;
}
.textarea,
textarea,
input {
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  background-color: rgba(232, 240, 254, 1);
}
.errorlist li {
  color: rgb(253, 88, 49);
  padding: 0.5rem;
  padding-left: 1rem;
  border-left: 5px solid rgb(253, 88, 49);
  margin-bottom: 1rem;
}
.tab {
  cursor: pointer;
  padding: 0.75rem 1rem;
  color: rgb(0, 0, 0, 0.6);
  background-color: rgb(0, 0, 0, 0.05);
  border-radius: 0.75rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.tab:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
.tab.selected {
  color: white;
  background-color: var(--black);
}
.replyform {
  border-top: none;
}
.replyform textarea,
.replyform input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  margin-bottom: 0px;
  height: 3.2rem;
}
.replyform button {
  margin-left: 0.5rem;
  min-height: unset;
}
.fade-me-in.htmx-settling {
  opacity: 0;
}
.fade-me-in {
  opacity: 1;
  transition: opacity 1s ease-out;
}
#profile article figure img {
  @apply aspect-[3/2] object-cover;
}
#profile article p {
  @apply truncate leading-normal;
}
.editor-container {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: monospace;
  font-size: ;
}
#id_type {
  color: black;
}
#id_grades_name {
  color: black;
}
p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: black;
}
/* <select> styles */
select {
  /* Reset
  appearance: none; */
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 15em;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  background-color: rgba(232, 240, 254, 1);
}
/* <option> colors */
option {
  color: inherit;
}
/* Remove focus outline */
:focus {
  outline: none;
}
/* Remove IE arrow */
::-ms-expand {
  display: none;
}
input[name="body"] {
  width: 100%;
  @apply mr-12;
}