{% load static %}
<header
    x-data="{ mobilenavOpen: false }"
    class="md:flex items-center justify-between [&>*]:px-8 bg-gray-800 h-20 text-white sticky top-0 z-40">
    <div class="flex items-center justify-between h-20">
        <logo>
            <a class="flex items-center gap-1" href="/">
                <img class="w-10 -mt-1 mr-2" src="{% static 'images/book-open.svg' %}" />
                <span class="text-lg pridi-regular ">คลังสื่อดิจิทัล สพม.ปทุมธานี</span>
            </a>
        </logo>
        <mobileicon class="md:hidden">
            <a @click="mobilenavOpen = !mobilenavOpen"
                class="h-12 w-12 flex items-center justify-center cursor-pointer hover:bg-gray-700 rounded-lg">
                <img x-show="!mobilenavOpen" class="w-6 h-6 select-none"
                    src="https://img.icons8.com/small/64/ffffff/menu.png" />
                <img x-show="mobilenavOpen" x-cloak class="w-6 h-6 select-none"
                    src="https://img.icons8.com/small/64/ffffff/delete-sign.png" />
            </a>
        </mobileicon>
    </div>
    <nav x-show="mobilenavOpen" x-cloak
        class="md:!block bg-gray-800 h-screen w-screen md:h-auto md:w-auto -mt-20 md:mt-0 absolute md:relative z-[-1]"
        x-transition:enter="duration-300 ease-out" x-transition:enter-start="opacity-0 -translate-y-96"
        x-transition:enter-end="opacity-100 translate-y-0">
        <ul class="flex items-center navitems flex-col md:flex-row gap-8 md:gap-0 justify-center h-full -translate-y-10 md:translate-y-0">
            <li>
                <a href="{% url 'content-query' content_type='R' %}"
                    class="{% if content_type == 'R' or content_type == 'article' %}bg-gray-700 rounded-lg{% endif %}">
                    บทความ/บทเรียน
                </a>
            </li>
            <li>
                <a href="{% url 'content-query' content_type='G' %}"
                    class="{% if content_type == 'G' or content_type == 'gallery' %}bg-gray-700 rounded-lg{% endif %}">
                    คลังภาพ
                </a>
            </li>
            <li>
                <a href="{% url 'content-query' content_type='V' %}"
                    class="{% if content_type == 'V' or content_type == 'video' %}bg-gray-700 rounded-lg{% endif %}">
                    วิดีโอ
                </a>
            </li>
            <li>
                <a href="{% url 'content-query' content_type='E' %}"
                    class="{% if content_type == 'E' or content_type == 'ebook' %}bg-gray-700 rounded-lg{% endif %}">
                    E-Book/Canva
                </a>
            </li>
            <li>
                <a href="{% url 'content-query' content_type='P' %}"
                    class="{% if content_type == 'P' or content_type == 'project' %}bg-gray-700 rounded-lg{% endif %}">
                    โครงงาน
                </a>
            </li>
            <li>
                <a href="{% url 'content-query' content_type='A' %}"
                    class="{% if content_type == 'A' or content_type == 'app' %}bg-gray-700 rounded-lg{% endif %}">
                    แอพพลิเคชั่น
                </a>
            </li>
            <li>
                <a href="{% url 'content-query' content_type='T' %}"
                    class="{% if content_type == 'T' or content_type == 'teaching_plan' %}bg-gray-700 rounded-lg{% endif %}">
                    แผนการสอน
                </a>
            </li>
            {% if user.is_authenticated %}
            <li x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false"
                    class="cursor-pointer select-none">
                    สร้างสื่อ
                    <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4"
                        src="https://img.icons8.com/small/32/777777/expand-arrow.png" />
                </a>
                <div x-show="dropdownOpen" x-cloak
                    class="absolute right-0 bg-white text-black shadow rounded-lg w-40 p-2 z-20"
                    x-transition:enter="duration-300 ease-out"
                    x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                    x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                    <ul class="hoverlist [&>li>a]:justify-end">
                        <li><a href="{% url 'content-create' content_type='article' %}">บทความ/บทเรียน</a></li>
                        <li><a href="{% url 'content-create' content_type='gallery' %}">คลังภาพ</a></li>
                        <li><a href="{% url 'content-create' content_type='video' %}">วิดีโอ</a></li>
                        <li><a href="{% url 'content-create' content_type='ebook' %}">E-Book/Canva</a></li>
                        <li><a href="{% url 'content-create' content_type='project' %}">โครงงาน</a></li>
                        <li><a href="{% url 'content-create' content_type='app' %}">แอพพลิเคชั่น</a></li>
                        <li><a href="{% url 'content-create' content_type='teaching_plan' %}">แผนการสอน</a></li>
                    </ul>
                </div>
            </li>
            <li x-data="{ dropdownOpen: false }" class="relative">
                <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false"
                    class="cursor-pointer select-none">
                    <img class="h-8 w-8 rounded-full object-cover" src="{{ user.profile.avatar }}" />
                    {{ user.profile.name }}
                    <img x-bind:class="dropdownOpen && 'rotate-180 duration-300'" class="w-4"
                        src="https://img.icons8.com/small/32/777777/expand-arrow.png" />
                </a>
                <div x-show="dropdownOpen" x-cloak
                    class="absolute right-0 bg-white text-black shadow rounded-lg w-40 p-2 z-20"
                    x-transition:enter="duration-300 ease-out"
                    x-transition:enter-start="opacity-0 -translate-y-5 scale-90"
                    x-transition:enter-end="opacity-100 translate-y-0 scale-100">
                    <ul class="hoverlist [&>li>a]:justify-end">
                        <li><a href="{% url 'profile' %}">โปรไฟล์ของฉัน</a></li>
                        <li><a href="{% url 'profile-edit' %}">แก้ไขโปรไฟล์</a></li>
                        <li><a href="{% url 'account_logout' %}">ออกจากระบบ</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li>
                <a href="{% url 'account_login' %}"
                    class="flex items-center gap-2 bg-blue-600 px-4 py-2 mx-2 rounded-lg hover:bg-blue-700 transition">
                    <img src="https://img.icons8.com/small/32/ffffff/login-rounded-right.png" class="w-6 h-6" />
                    เข้าสู่ระบบ
                </a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}"
                    class="flex items-center gap-2 bg-green-600 px-4 py-2 rounded-lg hover:bg-green-700 transition">
                    <img src="https://img.icons8.com/small/32/ffffff/add-user-male.png" class="w-6 h-6" />
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>