{% load static %}
<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('{% static 'images/lotus-background.jpg' %}')]">
  {% comment %} <div class="col-start-1 row-start-1 pb-4 px-8"> {% endcomment %}
  <div class="">
    <div class="max-w-6xl mx-auto my-4 px-6">
      <div class="card rounded-lg shadow-xl mx-auto">
        <div class="swiper-container">
          <div class="swiper-wrapper">
          {% if slideshow_images %}
            {% for image in slideshow_images %}
            <div class="swiper-slide">
              <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="w-full h-80 object-cover"/>
            </div>
            {% endfor %}
          {% else %}
            <div class="swiper-slide">
              <img src="{% static 'images/catbook.jpg' %}" alt="" class="w-full h-80 object-cover"/>
            </div>
          {% endif %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</hero>
<style>
  .card {
    padding-bottom: 0rem;
  }
</style>
<script>
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
  });
</script>
