<!-- @format -->

<hero
  class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('https://live.staticflickr.com/65535/49909538937_3255dcf9e7_b.jpg')]">
  <div
    class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
  <div class="col-start-1 row-start-1 py-10 px-24">
    <div class="grid grid-cols-3 max-w-7xl mx-auto my-6 px-24 gap-x-8">
      <div class="card p-4 rounded-lg shadow-xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4 text-black">ค้นหาสื่อ</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="flex items-center">
            <input
              type="text"
              class="flex-grow rounded-md border border-gray-300 px-4 py-2"
              placeholder="พิมพ์คำที่ต้องการค้นหา" />
          </div>

          <div class="mt-4">
            <div class="flex items-center mb-2">
              <label for="categories" class="mr-2 text-black">หมวดหมู่</label>
              <select
                id="categories"
                class="rounded-md border border-gray-300 px-4 py-2 text-black">
                <option value="">ทั้งหมด</option>
                <option value="math">คณิตศาสตร์</option>
                <option value="science">วิทยาศาสตร์</option>
                <option value="technology">เทคโนโลยี</option>
              </select>
            </div>

            <div class="flex items-center mb-2">
              <label for="subjects" class="mr-2 text-black">วิชา</label>
              <select
                id="subjects"
                class="rounded-md border border-gray-300 px-4 py-2 text-black">
                <option value="">ทั้งหมด</option>
                <option value="calculus">แคลคูลัส</option>
                <option value="algebra">พีชคณิต</option>
                <option value="geometry">เรขาคณิต</option>
              </select>
            </div>

            <div class="flex items-center mb-2">
              <label for="grades" class="mr-2 text-black">ระดับชั้น</label>
              <select
                id="grades"
                class="rounded-md border border-gray-300 px-4 py-2 text-black">
                <option value="">ทั้งหมด</option>
                {% for grade in grades.all %}
                <option value="{{ grade.slug }}">{{ grade.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <button type="submit" class="mt-1">ค้นหา</button>
        </form>
      </div>
      <div
        class="card p-4 rounded-lg shadow-xl mx-auto px-4 py-8 col-span-2"></div>
    </div>
  </div>
</hero>
