{% load static %}
<hero
  class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('{% static 'images/lotus-background.jpg' %}')]">
  <div class="max-w-8xl mx-auto my-4 px-6">
    <form action="{% url 'content-query' content_type=content_type %}" method="GET" class="filter-form p-4 bg-gradient-to-r from-blue-800 to-gray-800 rounded-full shadow-md">
      <input type="hidden" name="content_type" value="{{ content_type }}">
      <div class="grid grid-cols-8 gap-1 pl-4 pr-4">
        <div class="col-span-3">
          {{ form.title }}
        </div>
        <div class="col-span-2">
          {{ form.grades__name }}
        </div>
        <div class="col-span-2">
          {{ form.learning_areas__name }}
        </div>
        <div>
          <button type="submit" class="rounded-full">
            ค้นหา
          </button>
        </div>
      </div>
      
    </form>
  </div>
</hero>

<style>
  .filter-form #id_grades,
.filter-form #id_learning_areas {
    /* Reset or adjust the styles here */
    margin-bottom: unset;
}

.filter-form #id_grades div,
.filter-form #id_learning_areas div {
    display: unset;
    margin-right: unset;
    width: 16em;
    padding: 0.9rem;
}

.filter-form #id_grades div label,
.filter-form #id_learning_areas div label {
    border-radius: unset;
    padding: unset;
    border: unset;
    width: unset;
    cursor: unset;
    user-select: unset;
}

.filter-form #id_grades input,
.filter-form #id_learning_areas input {
    display: unset;
}

.filter-form #id_grades label:has(input:checked),
.filter-form #id_learning_areas label:has(input:checked) {
    background-color: unset;
    color: unset;
    border: unset;
}

{% comment %} .filter-form .textarea,
.filter-form textarea,
.filter-form input {
    border-radius: unset;
    padding: unset;
    background-color: unset;
    width: 100%;
} {% endcomment %}

select {
  width: 95%;
  padding: 0.9rem;
}

#query-hero .button,
#query-hero button,
#query-hero [type="submit"],
#query-hero [type="button"] {
    all: unset; /* ล้างค่า CSS ทั้งหมด */
    /* กำหนดค่า CSS ใหม่ */
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #1e40af;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
}

#query-hero .button:hover,
#query-hero button:hover,
#query-hero [type="submit"]:hover,
#query-hero [type="button"]:hover {
    background-color: #1e3a8a;
}
</style>