{% extends "layouts/b.html" %}

{% block content %}

<h1>ลบความคิดเห็น</h1>

{% include 'a_contents/comment.html' %}

<p class="my-6">คุณแน่ใจหรือไม่ว่าจะลบความคิดเห็นนี้?</p>

<form method='POST'>
  {% csrf_token %}
    <button type="submit">ยืนยัน</button>
    <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">กลับไป</a>
</form>

{% endblock content %}