{% extends "layouts/b.html" %} {% block content %}

<div class="md:flex items-center">
  <div class="w-full md:max-w-sm mr-6 md:[&>*>*>p]:text-4xl">
    {% include 'a_contents/content_card_big.html' %}
  </div>
  <div>
      <h1>Delete Post</h1>
      <p class="mb-6">Are you sure you want to delete this post?</p>
      
      <form method='POST'>
          {% csrf_token %}
          <button type="submit">Confirm</button>
          <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
      </form>
  </div>
</div>
{% endblock %}