<!-- @format -->
{% load static %}
<div class="card relative">
  <figure class="overflow-hidden w-full h-48">
    <a href="{% url "content" content.id %}">
      <img
        src="{{ content.thumbnail }}"
        class="rounded-lg object-cover w-full h-full transform scale-100 hover:scale-110 transition-transform duration-300"
      />
    </a>
  </figure>
  
  {% if user.is_authenticated and user == content.author %}
  <div class="absolute top-0 left-0 p-4">
    
    <div class="flex">
      <!-- แสดงสถานะการอนุมัติ -->
      {% if content.approval_status == 'A' %}
      <span class="bg-green-500 text-white rounded-full px-3 py-1 text-xs font-semibold shadow-lg">เผยแพร่แล้ว</span>
      {% elif content.approval_status == 'P' %}
      <span class="bg-yellow-500 text-white rounded-full px-3 py-1 text-xs font-semibold shadow-lg">รอตรวจสอบ</span>
      {% elif content.approval_status == 'R' %}
      <span class="bg-red-500 text-white rounded-full px-3 py-1 text-xs font-semibold shadow-lg">ปฏิเสธการเผยแพร่</span>
      {% endif %}
    </div>
    
  </div>
  <div class="absolute top-0 right-0 p-4">
    
    <div class="flex bg-white rounded-full px-2 py-1 shadow-inner shadow-lg">
      <a href="{% url 'content-edit' content.id %}">
        <img class="object-cover h-6 mr-1 opacity-60" src="https://img.icons8.com/material-outlined/50/000000/edit.png" alt="Edit">
      </a>
      <a href="{% url 'content-delete' content.id %}">
        <img class="object-cover h-6 mr-1 opacity-60" src="https://img.icons8.com/material-outlined/50/000000/delete.png" alt="Delete">
      </a>
    </div>
    
  </div>
  {% endif %}

  <div class="p-3">
    <a href="{% url "content" content.id %}">
      <h3 class="font-bold text-lg mb-2">{{ content.title }}</h3>
    </a>
    <div class="flex items-center gap-2 text-sm mb-2 flex-wrap">
      <p class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">
        {{ content.get_type_display }}
      </p>
    </div>
    <div class="flex justify-between items-end">
      <div class="flex">
        <span class="text-gray-500">การเข้าชม:</span>
        <span class="font-bold ml-2">{{ content.view_count }}</span>
      </div>
      <div class="flex items-center gap-4 [&>a:hover]:underline">
        {% include "snippets/likes.html" %}
      </div>
    </div>
  </div>
</div>
