<!-- @format -->

{% load static %}
<div class="mx-auto p-3">
    <div class="flex flex-col md:flex-row">
        <div class="card md:w-2/5 flex-shrink-0 bg-white rounded-lg shadow-md p-5 mr-2">
            <p class="text-gray-700 mt-2"><span class="font-semibold mr-4">ชื่อเรื่อง:</span>{{ content.title }}</p>
            <p class="text-gray-700 mt-2"><span class="font-semibold mr-4">ผู้จัดทำ:</span>{{ content.project.creators }}</p>
            <p class="text-gray-700 mt-2"><span class="font-semibold mr-4">อาจารย์ที่ปรึกษา:</span>{{ content.project.advisor }}</p>
            <p class="text-gray-700 mt-2"><span class="font-semibold mr-4">สถาบันการศึกษา:</span>{{ content.project.institution }}</p>
            <p class="text-gray-700 mt-2"><span class="font-semibold mr-4">ระดับชั้น:</span>{{ content.project.education_level }}</p>
            <p class="text-gray-700 mt-2"><span class="font-semibold mr-4">หมวดวิชา:</span>{{ content.project.subject_category }}</p>
            <p class="text-gray-700 mt-2"><span class="font-semibold mr-4">ทำโครงงาน/วิจัย เมื่อ:</span>
                {{ content.project.completion_date|date:"j F " }}
                <span id="completion-year"></span>
            </p>
        </div>
        <div class="md:ml-6 mt-4 md:mt-0 md:w-2/3">
            <h3>บทคัดย่อ</h3>
            <p class="text-gray-600 mt-2 whitespace-pre-line">{{ content.description }}</p>
        </div>
    </div>
    <div class="flex justify-center mt-5 mb-5">
        <img src="{{ content.thumbnail }}" alt="" class="w-full md:w-4/5 rounded-lg shadow-md">
    </div>
    <div class="flex justify-center mt-5">
        {% for file in content.project.files.all %}
            <a href="{{ file.file.url }}" target=”_blank” class="inline-block m-3 px-4 py-2 bg-gray-600 text-white rounded-lg shadow-md hover:bg-gray-500">
                ดาวน์โหลดไฟล์ {{ forloop.counter }}
            </a>
        {% endfor %}
    </div>
</div>

<script>
beYear = 543 + Number({{ content.project.completion_date|date:"Y" }})
document.getElementById('completion-year').textContent = beYear;
</script>