<!-- @format -->

{% load static %}

    <div>
      <div class="gallery">
        <div class="grid grid-cols-4 gap-4">
          {% for image in content.gallery_images.all %}
          <div class="gallery-item">
            <a href="{{ image.image.url }}" data-fancybox="gallery" data-caption="{{ content.description }}">
              <img class="rounded-lg object-cover h-48 w-96" src="{{ image.image.url }}" alt="{{ image.content.title }}">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="mt-5 mb-5">
        {{ content.description }}
      </div>
  
      <a href="{% url 'download-gallery-images' content.id %}" class="inline-block px-4 py-2 bg-gray-200 text-black font-medium rounded-lg border border-gray-300 hover:bg-gray-300 transition duration-200">
        ดาวน์โหลดรูปทั้งหมด
      </a>
    </div>

    
