{% load static %}
<div class="mx-auto p-4">
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/3 flex-shrink-0">
      <img src="{{ content.thumbnail }}" alt="" class="w-full rounded-lg shadow-md">
    </div>
    <div class="md:ml-6 mt-4 md:mt-0">
      <p class="text-gray-700 mt-2 "><span><span class="font-semibold mr-4">ผู้สร้าง:</span>{{ content.application.creator }}</span></p>
      <p class="text-gray-600 mt-2">{{ content.description }}</p>
      <div class="flex justify-start mt-5">
        <p class="font-semibold mt-4 text-gray-700 mr-3">ดาวน์โหลด: </p>
        {% if content.application.link_playstore %}
          <a class="transform transition-transform duration-300 hover:scale-110 hover:brightness-125 mr-3 mt-1"
          href="{{ content.application.link_playstore }}" target="_blank">
            <img
            class="w-10 mt-1 ml-2"
            src="{% static 'images/google_play.svg' %}" />
          </a>
        {% endif %}
        {% if content.application.link_appstore %}
          <a class="transform transition-transform duration-300 hover:scale-110 hover:brightness-125 mr-2 mt-1"
            href="{{ content.application.link_appstore }}" target="_blank">
            <img
            class="w-10 mt-1 ml-2"
            src="{% static 'images/app_store.svg' %}" />
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<script>
  beYear = 543 + Number({{ content.ebook.publication_date|date:"Y" }})
  document.getElementById('publication-year').textContent = beYear;
</script>