<!-- @format -->

{% extends "layouts/b.html" %} {% block content %}
{% load static %}
<h1>สร้างเนื้อหาแผนการสอน</h1>
<div class="card !p-8">
  <div class="text-center flex flex-col items-center m-5">
    <img id="thumbnail" class="h-40 object-cover rounded-xl mr-4" src="{% static 'images/catbook3.jpg' %}">
  </div>
  <form action="" method=POST class="form-control p-2"
  enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group mt-3">
      <label>อัพโหลดไฟล์แผนการสอน *อัพโหลดไฟล์ PDF, DOCX หรือ DOC และควรมีขนาดไม่เกิน 10MB*</label>
      <input required name="plan-files" type="file" multiple class="form-control-file" id="fileInput">
    </div>
    <button type="submit" class="mt-1">สร้างเนื้อหา</button>
    <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">ยกเลิก</a>
  </form>
</div>


<script>
  // This updates the thumbnail
  const fileInput = document.querySelector('input[type="file"]')

  fileInput.addEventListener("change", (event) => {
    const file = event.target.files[0]
    const image = document.querySelector("#thumbnail")

    if (file && file.type.includes("image")) {
      const url = URL.createObjectURL(file)
      image.src = url
    }
  })
</script>
{% endblock %}
