<!-- @format -->

{% extends "layouts/b.html" %} {% block content %}
{% load static %}
<h1>สร้างวิดีโอ</h1>
<div class="card !p-8">
  <form action="" method=POST class="form-control p-2"
  enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {{video_form.as_p}}
    <button type="submit" class="mt-1">สร้างเนื้อหา</button>
    <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">ยกเลิก</a>
  </form>
</div>
{% endblock %}
