<div class="mx-auto p-4">
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/3 flex-shrink-0">
      <img src="{{ content.thumbnail }}" alt="" class="w-full rounded-lg shadow-md">
    </div>
    <div class="md:ml-6 mt-4 md:mt-0">
      <p class="text-gray-600 mt-2">{{ content.description }}</p>
      {% comment %} <p class="text-gray-700 mt-2 "><span><span class="font-semibold mr-4">ผู้แต่ง:</span>{{ content.ebook.author }}</span></p>
      <p class="text-gray-700 mt-2"><span><span class="font-semibold mr-2">เผยแพร่เมื่อ:</span>
        {{ content.ebook.publication_date|date:"F " }}
        <span id="publication-year">
      </span>
      </p> {% endcomment %}
      <span>
      {% if content.ebook.link %}
      <a href="{{ content.ebook.link }}" target=”_blank” 
      class="inline-block ml-1 mt-4 px-4 py-2 bg-gray-600 text-white rounded-lg shadow-md hover:bg-gray-500">ดูบนเว็บไซต์</a>
      {% endif %}
      {% if content.ebook.file %}
      <a href="{{ content.ebook.file.url }}" target=”_blank” 
      class="inline-block ml-1 mt-4 px-4 py-2 bg-gray-600 text-white rounded-lg shadow-md hover:bg-gray-500">ดาวน์โหลดไฟล์</a>
      {% endif %}
    </span>
    </div>
  </div>
</div>
<script>
  beYear = 543 + Number({{ content.ebook.publication_date|date:"Y" }})
  document.getElementById('publication-year').textContent = beYear;
</script>