<!-- @format -->

{% extends "layouts/b.html" %} {% block content %} {% load static %}
<h1>สร้างคลังภาพ</h1>
<div class="card !p-8">
  <div class="text-center flex flex-col items-center m-5">
    <img
      id="thumbnail"
      class="h-40 object-cover rounded-xl mr-4"
      src="{% static 'images/catbook3.jpg' %}" />
  </div>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form.as_p }}
    <div id="imagePreview" class="grid grid-cols-4 gap-4"></div>

    <div class="form-group mt-3">
      <label>อัพโหลดรูปภาพ *ควรมีขนาดไม่เกิน 5MB หรือมีความกว้างไม่เกิน 3000 พิกเซล และความสูงไม่เกิน 3000 พิกเซล*</label>
      <input required name="images" type="file" multiple class="form-control-file" id="imageInput">
    </div>
    <button type="submit" class="mt-1">Submit</button>
    <a
      class="button secondaryAction ml-1"
      href="{{ request.META.HTTP_REFERER }}">ยกเลิก
    </a>
  </form>
</div>

<script>
  // This updates the thumbnail
  const fileInput = document.querySelector('input[type="file"]')

  fileInput.addEventListener("change", (event) => {
    const file = event.target.files[0]
    const image = document.querySelector("#thumbnail")

    if (file && file.type.includes("image")) {
      const url = URL.createObjectURL(file)
      image.src = url
    }
  })
</script>
<script>
  //This update the gallery upload
  document.getElementById('imageInput').addEventListener('change', function() {
      const previewContainer = document.getElementById('imagePreview');
      previewContainer.innerHTML = ''; // Clear previous previews

      const files = this.files;
      if (files.length === 0) {
          return;
      }

      for (const file of files) {
          const reader = new FileReader();
          reader.onload = function(event) {
              const imgElement = document.createElement('img');
              imgElement.src = event.target.result;
              imgElement.className = 'rounded-lg object-cover h-48 w-full';
              previewContainer.appendChild(imgElement);
          }
          reader.readAsDataURL(file);
      }
  });
</script>
{% endblock %}
