<!-- @format -->

{% load static %}
<div class="mx-auto p-3">
    <div class="flex flex-col md:flex-row">
        <div class="">
            <p class="mt-2 whitespace-pre-line">{{ content.description }}</p>
        </div>
    </div>
    <div class="flex justify-center mt-5 mb-5">
        <img src="{{ content.thumbnail }}" alt="" class="w-full md:w-1/2 rounded-lg shadow-md">
    </div>
    <div class="flex justify-center mt-5">
        {% for file in content.plan_files.all %}
            <a href="{{ file.file.url }}" target=”_blank” class="inline-block m-3 px-4 py-2 bg-gray-600 text-white rounded-lg shadow-md hover:bg-gray-500">
                ดาวน์โหลดไฟล์ {{ forloop.counter }}
            </a>
        {% endfor %}
    </div>
</div>

<script>
beYear = 543 + Number({{ content.project.completion_date|date:"Y" }})
document.getElementById('completion-year').textContent = beYear;
</script>