{% extends "layouts/b.html" %}

{% block content %}
{% load custom_filters %}
<h1>แก้ไขเนื้อหา</h1>
<div class="card p-4">
    <div class="text-center flex flex-col items-center m-5">
        <img id="thumbnail" class="h-40 object-cover rounded-xl mr-4" src="{{content.thumbnail}}">
    </div>
    
    <div class="pb-2">
      <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        {{ckeditor_form.media}}
        {{ckeditor_form.as_p}}

        {% if content.type == 'G' %}
        <div id="originalGallery" class="gallery">
          <div class="grid grid-cols-4 gap-4">
            {% for image in content.gallery_images.all %}
            <div class="gallery-item">
              <a href="{{ image.image.url }}" data-fancybox="gallery" data-caption="{{ content.description }}">
                <img class="rounded-lg object-cover h-48 w-96" src="{{ image.image.url }}" alt="{{ image.content.title }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="imagePreview" class="grid grid-cols-4 gap-4 mt-3"></div>
        <div class="form-group m-3">
          <label>อัพโหลดรูปภาพ</label>
          <input name="images" type="file" multiple class="form-control-file" id="imageInput">
        </div>
        {% elif content.type == 'V' %}
          {{video_form.as_p}}

        {% elif content.type == 'E' %}
          {{ebook_form.as_p}}
          
        {% elif content.type == 'P' %}
          {{ project_form.as_p }}
          <div id="originalFile" class="project-file">
            <div class="">
              {% for file in content.project.files.all %}
              <div class="project-file-item">
                <li>
                  <a href="{{ file.file.url }}" target="_blank" class="text-blue-500 hover:underline">{{ file.file.name|basename }}</a>
                </li>
              </div>
              {% endfor %}
            </div>
          </div>
          <div id="FilePreview" class="grid grid-cols-4 gap-4 mt-3"></div>
          <div class="form-group m-3">
            <label>อัพโหลดไฟล์</label>
            <input name="project-files" type="file" multiple class="form-control-file" id="fileInput">
          </div>

        {% elif content.type == 'A' %}
          {{app_form.as_p}}
        
        {% elif content.type == 'T' %}
          <div id="originalFile" class="plan-file">
            <div class="">
              {% for file in content.plan_files.all %}
              <div class="plan-file-item">
                <li>
                  <a href="{{ file.file.url }}" target="_blank" class="text-blue-500 hover:underline">{{ file.file.name|basename }}</a>
                </li>
              </div>
              {% endfor %}
            </div>
          </div>
          <div id="FilePreview" class="grid grid-cols-4 gap-4 mt-3"></div>
          <div class="form-group m-3">
            <label>อัพโหลดไฟล์</label>
            <input name="plan-files" type="file" multiple class="form-control-file" id="fileInput">
          </div>
        {% endif %}
        <div class="pt-4">
          <button type="submit">Submit</button>
          <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        </div>
      </form>
    </div>
</div>

<script>
    // This updates the thumbnail
    const fileInput = document.querySelector('input[type="file"]')
  
    fileInput.addEventListener("change", (event) => {
      const file = event.target.files[0]
      const image = document.querySelector("#thumbnail")
  
      if (file && file.type.includes("image")) {
        const url = URL.createObjectURL(file)
        image.src = url
      }
    })
</script>

<script>
  document.getElementById('imageInput').addEventListener('change', function() {
      const previewContainer = document.getElementById('imagePreview');
      const originalGallery = document.getElementById('originalGallery');
      previewContainer.innerHTML = ''; // Clear previous previews

      const files = this.files;
      if (files.length === 0) {
          return;
      }

      // Hide the original gallery
      originalGallery.style.display = 'none';

      for (const file of files) {
          const reader = new FileReader();
          reader.onload = function(event) {
              const imgElement = document.createElement('img');
              imgElement.src = event.target.result;
              imgElement.className = 'rounded-lg object-cover h-48 w-full';
              previewContainer.appendChild(imgElement);
          }
          reader.readAsDataURL(file);
      }
  });
</script>
<script>
  document.getElementById('fileInput').addEventListener('change', function(event) {
      const files = event.target.files;
      const previewContainer = document.getElementById('FilePreview');
      previewContainer.innerHTML = ''; // Clear the previous previews
      // Hide the original gallery
      originalFile.style.display = 'none';
      
      for (let i = 0; i < files.length; i++) {
          const file = files[i];
          const reader = new FileReader();
          
          reader.onload = function(e) {
              const previewItem = document.createElement('div');
              previewItem.classList.add('col-span-1', 'border', 'p-2', 'rounded', 'bg-gray-100');
              previewItem.innerHTML = `
                  <p class="truncate">${file.name}</p>
              `;
              previewContainer.appendChild(previewItem);
          };
          
          reader.readAsDataURL(file);
      }
  });
  </script>
{% endblock content %}