
{% extends "layouts/b.html" %}
{% load static %}
{% block content %}

<div class="mb-6">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold ml-5 mt-3 text-center">{{ content.title }}</h1>
  </div>
  <div class="flex justify-between px-6 font-bold">
    {% if content.author %} <a class="flex items-center gap-3 ml-5 mt-3"
    href="{% url "userprofile" content.author.username %}">
    <img
      class="w-10 h-10 object-cover rounded-full"
      src="{{ content.author.profile.avatar }}" />
    <span class="hover:underline">{{ content.author.profile.name }}</span>
    {% else %}
    <a class="flex items-center gap-3 ml-5 mt-3" href="#">
      <img
        class="w-10 h-10 object-cover rounded-full"
        src="{% static 'images/avatar_default.png' %}" />
      <span class="hover:underline">ไม่มีผู้สร้าง</span>
      {% endif %}
    </a>
    <div class="ml-5 mt-3">
      <span>โพสเมื่อ {{ content.created|date:"d F "}}</span>
      <span id="post-date"></span>
    </div>
    <div class="ml-5 mt-3">
      {% if content.author.profile.school %}
      <span>โรงเรียน{{ content.author.profile.school }}</span>
      {% endif %}
    </div>
  </div>
</div>
{% comment %} <article class="card">
  <div class="p-4 pb-2 m-1">
    {% if content.type == 'R' %}
    {% include "a_contents/content_display_article.html" %}
    {% elif content.type == 'G' %}
    {% include "a_contents/content_display_gallery.html" %}
    {% elif content.type == 'V' %}
    {% include "a_contents/content_display_video.html" %}
    {% elif content.type == 'E' %}
    {% include "a_contents/content_display_ebook.html" %}
    {% elif content.type == 'P' %}
    {% include "a_contents/content_display_project.html" %}
    {% elif content.type == 'A' %}
    {% include "a_contents/content_display_app.html" %}
    {% endif %}
    <div class="mt-10 mb-10">
      <div class="flex items-center gap-2 text-sm mb-5 mt-5">
      <span>ชนิดสื่อ: 
      <a
        class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white"
        href="#"
        >{{ content.get_type_display }}
      </a>
      </span>
      </div>
      <div class="flex items-center gap-2 text-sm mb-5">
      <span>ชั้นเรียน:
      {% for grade in content.grades.all %}
      <a
        class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white"
        href="#"
        >{{ grade }}</a
      >
      {% endfor %}
      </span>
      </div>
      <div class="flex items-center gap-2 text-sm mb-5">
      <span>กลุ่มสาระการเรียนรู้:
      {% for learning_area in content.learning_areas.all %}
      <a
        class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white"
        href="#"
        >{{ learning_area }}</a
      >
      {% endfor %}
      </span>
      </div>
      {% if content.subject %}
      <div class="flex items-center gap-2 text-sm mb-5">
      <span>ชื่อวิชา:
      <a class="bg-gray-200 rounded-full px-3 py-1">{{ content.subject }}</a>
      </span>
      </div>
      {%endif%}
    </div>
    <div class="flex items-center justify-between text-sm px-2">
      <a class="font-bold hover:underline" href="{% url 'content' content.id %}">
        {% if content.comments.count %}
        ความคิดเห็น
        <span id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-2">{{ content.comments.count }}</span>
        {% else %}
          {% if user.is_authenticated %}
          เพิ่มความคิดเห็น
          {% endif %}
        {% endif %}
      </a>
      <div class="flex items-center gap-4 [&>a:hover]:underline">
        {% if content.view_count > 0 %}
        <span class="mr-3">ยอดผู้เข้าชม {{ content.view_count }}</span>
        {% endif %}
        {% include "snippets/likes.html" %}
        {% if user.is_authenticated and user == content.author %}
        <a href="{% url 'content-edit' content.id %}">แก้ไข</a>
        <a href="{% url 'content-delete' content.id %}">ลบ</a>
        {% endif %}
      </div>
    </div>
  </div>
</article> {% endcomment %}
<article class="card">
  <div id="content-preview" class="overflow-hidden max-h-60 p-4 pb-2 m-1">
    {% if user.is_authenticated and user == content.author %}
    <div class="absolute top-0 right-0 p-4">
    
      <div class="flex">
        <!-- แสดงสถานะการอนุมัติ -->
        {% if content.approval_status == 'A' %}
        <span class="bg-green-500 text-white rounded-full px-3 py-1 text-xs font-semibold shadow-lg">เผยแพร่แล้ว</span>
        {% elif content.approval_status == 'P' %}
        <span class="bg-yellow-500 text-white rounded-full px-3 py-1 text-xs font-semibold shadow-lg">รอตรวจสอบ</span>
        {% elif content.approval_status == 'R' %}
        <span class="bg-red-500 text-white rounded-full px-3 py-1 text-xs font-semibold shadow-lg">ปฏิเสธการเผยแพร่</span>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <!-- เนื้อหาทั้งหมด -->
    {% if content.type == 'R' %}
    {% include "a_contents/content_display_article.html" %}
    {% elif content.type == 'G' %}
    {% include "a_contents/content_display_gallery.html" %}
    {% elif content.type == 'V' %}
    {% include "a_contents/content_display_video.html" %}
    {% elif content.type == 'E' %}
    {% include "a_contents/content_display_ebook.html" %}
    {% elif content.type == 'P' %}
    {% include "a_contents/content_display_project.html" %}
    {% elif content.type == 'A' %}
    {% include "a_contents/content_display_app.html" %}
    {% elif content.type == 'T' %}
    {% include "a_contents/content_display_teaching_plan.html" %}
    {% endif %}
    <div class="mt-10 mb-10">
      <div class="flex items-center gap-2 text-sm mb-5 mt-5">
      <span>ชนิดสื่อ: 
      <a
        class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white"
        href="#"
        >{{ content.get_type_display }}
      </a>
      </span>
      </div>
      <div class="flex items-center gap-2 text-sm mb-5">
      <span>ชั้นเรียน:
      {% for grade in content.grades.all %}
      <a
        class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white"
        href="#"
        >{{ grade }}</a
      >
      {% endfor %}
      </span>
      </div>
      <div class="flex items-center gap-2 text-sm mb-5">
      <span>กลุ่มสาระการเรียนรู้:
      {% for learning_area in content.learning_areas.all %}
      <a
        class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-500 hover:text-white"
        href="#"
        >{{ learning_area }}</a
      >
      {% endfor %}
      </span>
      </div>
      {% if content.subject %}
      <div class="flex items-center gap-2 text-sm mb-5">
      <span>ชื่อวิชา:
      <a class="bg-gray-200 rounded-full px-3 py-1">{{ content.subject }}</a>
      </span>
      </div>
      {%endif%}
    </div>
    <div class="flex items-center justify-between text-sm px-2">
      <a class="font-bold hover:underline" href="{% url 'content' content.id %}">
        {% if content.comments.count %}
        ความคิดเห็น
        <span id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-2">{{ content.comments.count }}</span>
        {% else %}
          {% if user.is_authenticated %}
          เพิ่มความคิดเห็น
          {% endif %}
        {% endif %}
      </a>
      <div class="flex items-center gap-4 [&>a:hover]:underline">
        {% if content.view_count > 0 %}
        <span class="mr-3">ยอดผู้เข้าชม {{ content.view_count }}</span>
        {% endif %}
        {% include "snippets/likes.html" %}
        {% if user.is_authenticated and user == content.author %}
        <a href="{% url 'content-edit' content.id %}">แก้ไข</a>
        <a href="{% url 'content-delete' content.id %}">ลบ</a>
        {% endif %}
      </div>
    </div>
    
    
  </div>
  <!-- ปุ่ม "อ่านเพิ่มเติม" -->
  <div class="text-center mt-4">
    <button id="read-more-btn" class="bg-blue-500 text-white rounded-full px-4 py-2 hover:bg-blue-700">แสดงเพิ่มเติม</button>
  </div>
</article>

<div class="mb-10">
  <h3 class="mb-2">เนื้อหาที่คุณอาจสนใจ</h3>

<div class="grid grid-cols-3 max-w-7xl mx-auto my-6 px-auto gap-x-8" id='tab-contents'>
  {% for content in related_contents %}
    {% include 'a_contents/content_card_big.html' %}
  {% endfor%}
</div>
</div>

{% if user.is_authenticated %}
<div class="card !pb-0 -mt-3">
  <form class="flex items-center p-4" autocomplete="off"
  hx-post="{% url 'comment-sent' content.id  %}" 
  hx-target="#tab-contents" 
  hx-swap="afterbegin"
  _="on htmx:afterRequest reset() me">
      {% csrf_token %}
      <div class="flex-grow">
        {{ commentform }}
      </div>
      <button @click="open = false" class="block ml-2" type="submit">ส่ง</button>
  </form>
</div>
{% endif %}

<div class="mb-20">
  <div id="tabs" class="ml-4 flex gap-1 mb-4 {% if not content.comments.count %}hidden{% endif %}" hx-target="#tab-contents" hx-swap="innerHTML"
  _="on htmx:afterOnLoad take .selected for event.target">
      <a hx-get="{% url 'content' content.id %}" class="tab selected">ความคิดเห็นล่าสุด</a> 
      <a hx-get="{% url "content" content.id %}?top" class="tab">ความคิดเห็นยอดนิยม</a> 
  </div>
  <div id="tab-contents">
    {% for comment in content.comments.all %}
    {% include 'a_contents/comment.html' %}
    {% endfor %}
  </div>
</div>
<script>
  $(document).ready(function () {
    $('[data-fancybox="gallery"]').fancybox({
      buttons: ["zoom", "slideShow", "thumbs", "close"],
      loop: true,
      protect: true,
      animationEffect: "fade",
      transitionEffect: "slide",
      clickContent: function (current, event) {
        return current.type === "image" ? "next" : false
      },
    })
  })
</script>
<script>
  beYear = 543 + Number({{ content.created|date:"Y" }})
  document.getElementById('post-date').textContent = beYear;
</script>
<!-- JavaScript สำหรับแสดงเนื้อหาเพิ่มเติม -->
<script>
  document.getElementById('read-more-btn').addEventListener('click', function() {
    var contentPreview = document.getElementById('content-preview');
    var readMoreBtn = document.getElementById('read-more-btn');
    
    contentPreview.classList.toggle('max-h-60');
    contentPreview.classList.toggle('overflow-hidden');
    
    if (readMoreBtn.textContent === 'แสดงเพิ่มเติม') {
      readMoreBtn.textContent = 'แสดงน้อยลง';
    } else {
      readMoreBtn.textContent = 'แสดงเพิ่มเติม';
    }
  });
</script>

<!-- CSS สำหรับการซ่อนและแสดงเนื้อหา -->
<style>
  .max-h-60 {
    max-height: 60rem; /* กำหนดความสูง */
  }
  .overflow-hidden {
    overflow: hidden;
  }
</style>
{% endblock content %}