{% extends "layouts/b.html" %}

{% block content %}
<h1>Delete Reply</h1>

<div class=" card px-6 pt-3 text-md mb-6 [&>*>*>a]:text-sm">

    {% include "a_contents/reply.html" %}

</div>

<p class="mb-6">คุณแน่ใจใช่ไหมว่าจะลบการตอบกลับนี้?</p>

<form method='POST'>
  {% csrf_token %}
    <button type="submit">ยืนยัน</button>
    <a class="button secondaryAction ml-1" href="">กลับไป</a>
</form>

{% endblock content %}
