{% load static %}
<div class="flex items-center gap-4 [&>a:hover]:underline">
  {% if reply.likes.count %}
<div class="flex items-center gap-1">
  {% if user in reply.likes.all %}
  <img
    class="w-4 -mt-1"
    src="{% static "images/fireheart_red.svg" %}" />
  {% else %}
  <img
    class="w-4 -mt-1"
    src="{% static "images/fireheart.svg" %}" />
  {% endif %}
  {{ reply.likes.count }}
</div>
{% endif %}
{% if user.is_authenticated %}
  
  <a class="cursor-pointer" hx-get="{% url "like-reply" reply.id %}"
  hx-target="closest div"
  hx-swap="outerHTML">
    {% if user in reply.likes.all %}
    <b>ถูกใจแล้ว</b>
    {% else %}
    ถูกใจ
    {% endif %}
  </a>      
{% endif %}
</div>