{% extends "layouts/b.html" %}

{% block content %}
<div class="text-center mt-8 mb-8">
  <h1>Page not found</h1>
  <p class="my-6 mb-8"><b>Error 404 - หน้าเพจนี้ไม่มีอยู่จริง หรือไม่สามารถเข้าถึงได้</b></p>
  <a class="button" href="/">Go Back to Home</a>
</div>
{% endblock%}